apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "wordpress.fullname" . }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "wordpress.selectorLabels" . | nindent 6 }}
  strategy:
    blueGreen:
      activeService: {{ template "wordpress.fullname" . }}
      previewService: {{ template "wordpress.fullname" . }}-preview
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "wordpress.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "wordpress.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          - name: WORDPRESS_DB_HOST
            value: {{ .Values.env.DBHOST }}
          - name: WORDPRESS_DB_USER
            value: {{ .Values.env.DBUSER }}
          - name: WORDPRESS_DB_PASSWORD
            value: {{ .Values.env.DBPASSWORD }}
          - name: WORDPRESS_DB_NAME
            value: {{ .Values.env.DBNAME }}
          volumeMounts:
          - name: {{ .Chart.Name }}-pvc-app
            mountPath: {{ .Values.mnt.mountPath }}
            subPath: {{ .Values.mnt.subPath }}
      volumes:
      - name: {{ .Chart.Name }}-pvc-app
        persistentVolumeClaim:
          claimName: {{ .Chart.Name }}-pvc
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
